html {
    scroll-behavior: smooth;
}

#top {
    position: absolute;
    top: 0;
    height: 0;
    overflow: hidden;
}

body {
    max-width: 720px;
    margin: auto;
    padding: 20px;
    overflow-wrap: break-word;
    text-align: left;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: black;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

header a {
    font-weight: bold;
    margin-right: 10px;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

span.image-title {
    display: block;
    margin: 5px 5px 0 0;
    text-align: right;
    color: gray;
    font-style: italic;
}

img.fit {
    max-height: 720px;
}

p:has(img.pair+img.pair) img.pair {
    height: 720px;
    width: 480px;
    object-fit: cover;
}

p:has(img.pair + img.pair) img.pair+img.pair {
    margin-top: 10px;
}

@media (min-width: 1010px) {
    img.pano {
        max-width: none;
        width: 970px;
        margin-left: -125px;
    }

    p:has(img.pair+img.pair) {
        display: grid;
        grid-template-columns: 480px 480px;
        column-gap: 10px;
        width: 970px;
        margin-left: -125px;
    }

    p:has(img.pair+img.pair) img.pair {
        height: 720px;
        width: 480px;
        object-fit: cover;
    }

    p:has(img.pair+img.pair) .image-title {
        grid-column: 1 / -1;
        width: 720px;
        margin-left: 125px;
    }
}

code {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: smaller;
    background-color: rgba(211, 211, 211, 0.65);
    margin: 0 2px;
    border-radius: 2px;
}

pre code {
    display: block;
    background-color: whitesmoke;
    overflow-x: auto;
    white-space: pre-wrap;
    border-radius: 10px;
    padding: 20px;
}

blockquote {
    border-left: 2px solid lightgray;
    padding-left: 20px;
    font-style: italic;
}

footer {
    text-align: center;
    padding: 20px;
}

footer a {
    font-weight: bold;
}

span.date {
    font-style: italic;
    color: gray;
}

ul.page-list {
    list-style-type: none;
    padding: unset;
}

ul.page-list li {
    display: flex;
}

ul.page-list li span {
    flex: 0 0 130px;
}

ul.page-list li a:visited {
    color: mediumpurple;
}

ul.tags li.tag {
    margin-bottom: 20px;
    font-weight: bold;
}

ul.tags li.tag ul {
    font-weight: normal;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #323232;
        color: lightgray;
    }

    a {
        color: lightblue;
    }

    mark {
        color: lightgray;
        background-color: darkgoldenrod;
    }

    code {
        background-color: #646464;
    }

    pre code {
        background-color: #646464;
    }

    ul.page-list li a:visited {
        color: plum;
    }
}