:root {
    --color-bg-light: #f5f5f5;
    --color-text-light: #333333;

    --color-link-light: #447EE9;
    --color-link-visited-light: #96B6F3;

    --color-code-bg-light: #E4E4E4;
    --color-pre-code-bg-light: #E4E4E4;

    --color-image-title-light: #888888;
    --color-date-light: #777777;
    --color-line-light: #777777;


    --color-bg-dark: #222222;
    --color-text-dark: #bbbbbb;

    --color-link-dark: #CBA406;
    --color-link-visited-dark: #725C04;

    --color-code-bg-dark: #333333;
    --color-pre-code-bg-dark: #333333;

    --color-image-title-dark: #666666;
    --color-date-dark: #777777;
    --color-line-dark: #777777;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 660px;
    margin: auto;
    padding: 16px 48px;
    overflow-wrap: break-word;
    text-align: left;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    background-color: var(--color-bg-light);
    color: var(--color-text-light);
}

#top {
    position: absolute;
    top: 0;
    height: 0;
    overflow: hidden;
}

a {
    color: var(--color-link-light);
    text-decoration: none;
}

header a {
    font-weight: bold;
    margin-right: 16px;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 8px;
}

img.fit {
    max-height: 660px;
}

span.image-title {
    display: block;
    margin: 4px 4px 0 0;
    text-align: right;
    color: var(--color-image-title-light);
    font-style: italic;
}

p:has(img.pair + img.pair) img.pair {
    max-height: 660px;
}

p:has(img.pair + img.pair) img.pair+img.pair {
    margin-top: 8px;
}

@media (min-width: 984px) {
    img.pano {
        max-width: none;
        width: 888px;
        margin-left: -114px;
    }

    p:has(img.pair + img.pair) {
        display: grid;
        grid-template-columns: 440px 440px;
        column-gap: 8px;
        width: 888px;
        margin-left: -114px;
    }

    p:has(img.pair + img.pair) img.pair {
        height: 660px;
        width: 440px;
        object-fit: cover;
    }

    p:has(img.pair + img.pair) img.pair+img.pair {
        margin-top: 0px;
    }

    p:has(img.pair + img.pair) .image-title {
        grid-column: 1 / -1;
        width: 660px;
        margin-left: 114px;
    }
}

code {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: small;
    background-color: var(--color-code-bg-light);
}

pre code {
    display: block;
    background-color: var(--color-pre-code-bg-light);
    overflow-x: auto;
    white-space: pre-wrap;
    margin: 0;
    border-radius: 8px;
    padding: 16px;
}

blockquote {
    border-left: 2px solid var(--color-line-light);
    padding-left: 16px;
    font-style: italic;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--color-line-light);
}

footer {
    text-align: center;
    padding: 16px;
}

footer a {
    font-weight: bold;
}

span.date {
    font-style: italic;
    color: var(--color-date-light);
}

ul.page-list {
    list-style-type: none;
    padding: unset;
}

ul.page-list li {
    display: flex;
}

ul.page-list li span {
    flex: 0 0 132px;
}

ul.page-list li a:visited {
    color: var(--color-link-visited-light);
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-bg-dark);
        color: var(--color-text-dark);
    }

    a {
        color: var(--color-link-dark);
    }

    span.image-title {
        color: var(--color-image-title-dark);
    }

    code {
        background-color: var(--color-code-bg-dark);
    }

    pre code {
        background-color: var(--color-pre-code-bg-dark);
    }

    blockquote {
        border-left-color: var(--color-line-dark);
    }

    hr {
        border-color: var(--color-line-dark);
    }

    span.date {
        color: var(--color-date-dark);
    }

    ul.page-list li a:visited {
        color: var(--color-link-visited-dark);
    }
}